.example-container {
    display: flex;
    align-items: center;
  }
  
  .example-sidenav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .app-admin-sidebar {
    display: flex;
    align-items: center;
  }
  
  .app-admin-sidebar > * {
    margin-left: 10px;
  }
  