<mat-nav-list>
  
  <a routerLink="/person/list">
    <mat-list-item>
     <mat-icon>person</mat-icon>
      <b *ngIf="isExpanded">Personas</b>
    </mat-list-item>
    </a> 
  <mat-list-item>
    <a routerLink="/buses/list">
      <mat-icon>directions_bus</mat-icon>
       <b *ngIf="isExpanded">Colectivos</b>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/trips/list">
      <mat-icon>moving</mat-icon>
      <b *ngIf="isExpanded">Viajes</b>
    </a>
  </mat-list-item>
</mat-nav-list>
